.LanguageName {
  text-align: center;
  font-size: 2rem;
}

.UserTotal {
  display: block;
  text-align: center;
}

.WordsHeader {
  text-align: center;
}

.word-card {
  border: 1px solid var(--color-dark);
  padding: 1rem;
  margin: 1rem;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.WordCardList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-item {
  margin: .5rem;
  padding: 0;
}

.start-practice {
  text-align: center;
  max-width: 40rem;
}

.incorrect-count {
  color: var(--color-incorrect);
}

.correct-count {
  color: var(--color-correct);
}