@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light);
  color: var(--font-dark);
}

:root {
  --font-size: calc(10px + 1vmin);
  --color-light: papayawhip;
  --color-medium: #C5D86D;
  --color-dark: #1A1B41;
  --color-correct: #0a6b0a;
  --color-incorrect: #9b0808;
  --font-dark: #54494B;
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

.basic-label {
  font-size: 20px;
}

.basic-input {
  font-size: 16px;
  width: 200px;
  padding: 5px;
  display: block;
}

.basic-btn {
  font-size: 1.1rem;
  display: block;
  padding: .5rem 1rem;
  margin: 1rem auto;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.outline-btn {
  font-size: 1.1rem;
  display: block;
  padding: .5rem 1rem;
  margin: 1rem auto;
  background-color: transparent;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  font-weight: bolder;
  cursor: pointer;
}

.text-btn {
  font-size: 1.1rem;
  display: block;
  padding: .5rem 1rem;
  margin: 1rem auto;
  background-color: transparent;
  color: var(--color-dark);
  border: none;
  font-weight: bolder;
  cursor: pointer;
}

.form-field-container {
  margin: 2rem auto;
}